body {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 54%, rgba(255, 255, 255, 1) 54%, rgba(224, 224, 224, 0.6225840678068102) 54%, rgba(224, 224, 224, 1) 54%, rgba(224, 224, 224, 1) 54%, rgba(224, 224, 224, 1) 54%, rgba(11, 0, 193, 1) 54%, rgba(11, 0, 193, 1) 54%, rgba(66, 66, 182, 1) 54%, rgba(0, 212, 255, 1) 54%, rgba(121, 121, 121, 0) 54%, rgba(255, 255, 255, 1) 54%, rgba(249, 249, 249, 1) 54%);
}

.wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    height: 100vh;
}

.info-delivery {
    padding-top: 50px;
    width: 55%;
    border-right: 1px solid var(--border-color);
    padding-right: 5%;
    min-width: 400px;
}

.header-text {
    font-size: 1.6rem;
    font-weight: 500;
}

.info-deli-text {
    color: #444444;
    font-size: 17px;
    margin: 10px 0;
}

.user-test {
    color: #a8a8a8;
    font-size: 0.8rem;
}

    .user-test a {
        color: #007cb6;
        cursor: pointer;
    }

        .user-test a:hover {
            color: #00d9ff;
        }

.info-deli {
    display: flex;
    flex-direction: column;
}

.info-contact {
    display: flex;
}

td.end-pay {
    padding-top: 50px;
}


.input-email {
    width: 57%;
    margin-right: 3%;
}

.input-phone {
    width: 40%;
}

select,
input {
    padding: 0.94em 2.8em 0.94em 0.8em;
    box-shadow: 0 0 0 1px #d9d9d9;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    outline: none;
    margin: 8px 0;
}

.address {
    display: flex;
}

.slt-city {
    margin-right: 10px;
    padding-right: 65px;
}

select#select-district {
    padding-right: 56px;
}

.slt-phuongxa {
    margin-left: 10px;
    padding-right: 35px;
}

.btn-submit {
    cursor: pointer;
    float: right;
    background-color: #007cb6;
    width: 180px;
    height: 60px;
    border: none;
    margin-top: 25px;
    color: #ffffff;
    font-size: 15px;
}

    .btn-submit :hover {
        background-color: #00b0b6;
    }

.info-product {
    padding-top: 50px;
    padding-left: 5%;
    width: 44%;
    min-width: 320px;
}

.buyed-product {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

    .buyed-product tbody tr {
        font-size: 0.8rem;
        color: #686868;
    }

.img-product {
    width: 5rem;
}

    .img-product img {
        border: 1px solid var(--border-color);
        border-radius: 8px;
        width: 70px;
        object-fit: contain;
        height: 70px;
        background: #fff;
    }

.name-product {
    font-weight: 600;
}

    .name-product .color-product {
        font-weight: 500;
        color: #8f8f8f;
    }

.code-sale {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.input-code {
    width: 75%;
    margin-right: 2%;
}

.use-code {
    background-color: #b4b4b4;
    cursor: pointer;
    width: 80px;
    height: 40px;
    border: none;
}

    .use-code:hover {
        background-color: #b4b4b4;
    }

.box-price {
    padding-top: 10px;
    padding-bottom: 4px;
}

.pay-trans {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}

.pay-trans,
.box-price {
    display: flex;
    justify-content: space-between;
    color: #686868;
    font-size: 0.9rem;
}

.total-price {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    color: #444444;
}

.price-after {
    font-size: 1.71429em;
    font-weight: 500;
    letter-spacing: -0.04em;
    color: #4b4b4b;
    line-height: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p.price-before.spTong {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 100%;
    line-height: 1.6rem;
    scroll-behavior: smooth;
}

.sticky + .content {
    padding-top: 60px;
}

.color-white {
    color: #ffffff;
}

.grid {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    height: auto;

}

.Shipcode-img {
    box-shadow: 0 0 0 1px #d9d9d9;
    border-radius: 4px;
    background: #fff;
    color: #737373;
}

.Shipcode-img {
    display: flex;
    padding: 20px 0px 20px 15px;
}

.img {
    display: flex;
}

.radio {
    margin-right: 10px;
}

.img-text {
    padding-left: 10px;
    margin-top: 5px;
}

.radio input {
    border: none;
    box-shadow: 0 0 0 10px #338dbc inset;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    box-shadow: 0 0 0 0 #338dbc inset;
    transition: all 0.2s ease-in-out;
    position: relative;
    cursor: pointer;
    vertical-align: -4px;
    outline: 0;
    border: solid 1px #d9d9d9;
}

@media (max-width: 800px) {
    body {
        background: #fff;
    }

    .info-product {
        margin: auto;
        background-color: rgba(249, 249, 249, 1);
    }

    .info-delivery {
        margin: auto;
        border: none;
    }
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #e62e04;
    --border-color: #dbdbdb;
    --feedback-color: #fe9b00;
}
td.quantity {

    position: absolute;
    top: 300px;
}