@model IEnumerable<Shop_DottiesShoes.Models.CT_HoaDonBan>
@{
    ViewBag.Title = "CartInterface";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title> Dotie Shoes-Cart</title>
<head>
    <link rel="stylesheet" href="/Assets/Website/Css/Cart interface.css">
</head>
<div id="main" class="grid">
    <div class="Product-title">
        <h1 class="title">GIỎ HÀNG CỦA BẠN</h1>
    </div>
    <div class="ok">
    </div>
    <div class="box-content">
        <div class="container-table">
            <table class="table-cart">
                <thead class="head-table">
                    <tr>
                        <th class="img"></th>
                        <th class="item"></th>
                        <th class="remove"></th>
                    </tr>
                </thead>
                <tbody class="list-cart" id="listCart">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="img">
                                <div class="product-img">
                                    <img src="/FileUpLoad/@item.SanPham.HinhAnh">
                                </div>
                            </td>
                            <td class="item">
                                <h3> <a href="/Html/Product interface.html">@item.SanPham.TenSP </a></h3>
                                <p><span class="pri"> @item.DonGia </span></p>
                                <p><span class="event"> 4UK / @item.SanPham.MauSac</span></p>
                                <div class="ds-click">
                                    <button class=" min ds-btn" onclick="Giam(1)">-</button>
                                    <input type="text" id="q_1" onchange="updateQuantity(01)" value="" min="1" class="ds-input">
                                    <button class=" plus ds-btn" onclick="Tang(1)">+</button>
                                </div>

                            </td>
                            <td class="remove"><a class="cart"><img src="/Album/BoCuc/baseline_clear_black_24dp.png"></a></td>
                            @*<td class="end-pay">
                                    <p class="end-pay"> @(Convert.ToDecimal(item.SanPham.DonGia * item.DonGia)) </p>
                                </td>*@
                            @*<td class="remove"><a class="cart"><img src="/Album/BoCuc/baseline_clear_black_24dp.png"></a></td>*@
                        </tr>

                    }
                </tbody>
            </table>
            <div class="service-cart">
                <button class="delete-cart" onclick="xoaCart()">Xoá giỏ hàng</button>
                <button class="update-cart" onclick="updateCart()">Cập nhật giỏ hàng</button>
            </div>
        </div>
        <script src="/Assets/Website/JS/Cart.js"></script>
        <div class="payment">
            <h3 class="text-header-cart">THÔNG TIN ĐƠN HÀNG</h3>
            <div class="box-pay">
                <div class="total-money">
                    <p class="total">Tổng tiền :  <span class="total-price" id="spTong"></span></p>
                </div>
                <div class="policy-pay">
                    <p>
                        Phí vận chuyển sẽ được tính ở trang thanh toán.
                        <br>
                        Bạn cũng có thể nhập mã giảm giá ở trang thanh toán.
                    </p>
                </div>
                <a href="/Home/PaymentInterface/">
                    <button class="act-pay">
                        <b>THANH TOÁN</b>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
