@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title> Dotie Shoes</title>

<div class="Homeinterface-Navar">
    <div class="Homeinterface-Navar-Img">
        <img src="/UploadedFiles/files/14289_Comp_A1_Desktop.jpg">
    </div>
</div>

<div class="add-actions">
    <div class="offset-lg-1 col-lg-4 z-index-banner">
        <h2 class="didot mt-4 mt-lg-0 word-break light-color-mode-hero mb-0">
            The 2022 Holiday Gift Guide
        </h2>
        <div class="red-line mt-4 mb-3"></div>
        <p class="font-body-large mb-4 word-break light-color-mode-hero ">
            The gift of comfort
        </p>
    </div>
    <div class="offset-lg-1 col-lg-5">
        <a class="nb-button button-primary button-medium mr-lg-3 button-full-width-mobile" role="button">

            Shop collection
        </a>
    </div>
</div>

<div class="add-actions-link">
    <h2 class="text-lg-center font-header-1-lg font-header-2 mb-3 mb-lg-6">
        Gifts for your entire list
    </h2>
</div>

<div class="tab-layout mb-8 mb-lg-14 ">
    <ul class="nav nav-tabs nav-fill justify-content-center">
        <li class="nav-item" id="forhim">
            <a href="NikeInterface" class="nav-link font-body font-weight-semibold active" role="tab" aria-controls="controlsac0ea760c1df28f104cd0f9716-0" data-toggle="tab" aria-selected="true">
                For him
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-body font-weight-semibold active" role="tab">
                For her
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-body font-weight-semibold active" role="tab">
                For kids
            </a>
        </li>
    </ul>
    <hr width="30%" align="center" />
    <br />
</div>

<section class="product">
    <div class="container-fluid">
        <div class="slide-wrap">
            <div class="slide-main" id="slide-main">
                <div class="item" style="width: 371px; height: 369px;">
                    <div class="link-banner ratiobox lazyloaded">
                        <img src="/UploadedFiles/files/nb1.jpg" />
                    </div>
                    <div class="Content_Center_Product_Font">
                        <div class="Content_Center_Product_Name">
                            <h6 class="Content_Center_Product_Name_H5"><a href="ProductInterface">NB Numeric Tiago Lemons 4010</a></h6>
                        </div>
                        <div class="Content_Center_Product_Price">
                            <p class="Content_Center_Product_Price_P">
                                <span>5.650.000đ</span>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="item" style="width: 371px; height: 369px;">
                    <div class="link-banner ratiobox lazyloaded">
                        <img src="/UploadedFiles/files/nb5.jpg" />
                    </div>
                    <div class="Content_Center_Product_Font">
                        <div class="Content_Center_Product_Name">
                            <h6 class="Content_Center_Product_Name_H5"><a href="ProductInterface">NB Fresh Foam Cruzv1 Reissue</a></h6>
                        </div>
                        <div class="Content_Center_Product_Price">
                            <p class="Content_Center_Product_Price_P">
                                <span>2.990.000đ</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item" style="width: 371px; height: 369px;">
                    <div class="link-banner ratiobox lazyloaded">
                        <img src="/UploadedFiles/files/nb6.jpg" />
                    </div>
                    <div class="Content_Center_Product_Font">
                        <div class="Content_Center_Product_Name">
                            <h6 class="Content_Center_Product_Name_H5"><a href="ProductInterface">NB Numeric Brandon Westgate 508</a></h6>
                        </div>
                        <div class="Content_Center_Product_Price">
                            <p class="Content_Center_Product_Price_P">
                                <span>1.550.000đ</span>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="item" style="width: 371px; height: 369px;">
                    <div class="link-banner ratiobox lazyloaded">
                        <img src="/UploadedFiles/files/nb7.jpg" />
                    </div>
                    <div class="Content_Center_Product_Font">
                        <div class="Content_Center_Product_Name">
                            <h6 class="Content_Center_Product_Name_H5"><a href="ProductInterface">NB Fresh Foam Arishi v4</a></h6>
                        </div>
                        <div class="Content_Center_Product_Price">
                            <p class="Content_Center_Product_Price_P">
                                <span>5.650.000đ</span>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="item" style="width: 371px; height: 369px;">
                    <div class="link-banner ratiobox lazyloaded">
                        <img src="/UploadedFiles/files/nb8.jpg" />
                    </div>
                    <div class="Content_Center_Product_Font">
                        <div class="Content_Center_Product_Name">
                            <h6 class="Content_Center_Product_Name_H5"><a href="ProductInterface">NB Numeric Tiago Lemos 1010</a></h6>
                        </div>
                        <div class="Content_Center_Product_Price">
                            <p class="Content_Center_Product_Price_P">
                                <span>3.350.000đ</span>
                            </p>
                        </div>
                    </div>

                </div>

            </div>
            <button type="button" class="slide-btn-left">
                <i class="fa-solid fa-chevron-left" aria-hidden="true" onclick="prev()"></i>
            </button>
            <button type="button" class="slide-btn-right">
                <i class="fa-solid fa-chevron-right" aria-hidden="true" onclick="next()"></i>
            </button>
        </div>
    </div>
</section>

<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-lg-4 mt-25">
            <a class="nb-button button-xlarge button-full-width button-secondary">
                Shop men's gift guide
            </a>
        </div>
    </div>
</div>

<div class="badge-counter">
    <div class="animated">
        <p class="active-font-ppp">
            We are experiencing delays in product shipping out of our warehouse due to increased demand. It’s important we provide our customers with a seamless shopping experience and are working to fulfill all orders as quickly as possible. Thank you for your patience.
        </p>
    </div>
</div>

<div class="border-bottom-danger">
    <div class="ui-icon-flag">
        <div class="zmdi-wallpaper">
            <div class="zmdi-format-quote">
                <img src="~/UploadedFiles/files/14428_Comp_E4_Image1.jpg" />
                <div class="mb-4 px-lg-0 px-2">
                    <h2 class="font-header-2 mt-3 mt-lg-4">Celebrate in landscape mode</h2>
                    <div>
                        <a class="nb-button button-primary button-medium mr-lg-3 mb-3 mb-lg-0 button-full-width-mobile">Shop GORE-TEX®</a>
                    </div>
                </div>
            </div>
            <div class="zmdi-format-quote">
                <img src="~/UploadedFiles/files/14289_Comp_E19_Image1.jpg" />
                <div class="mb-4 px-lg-0 px-2">
                    <h2 class="font-header-2 mt-3 mt-lg-4">The extraordinary in the everyday </h2>
                    <div>
                        <a class="nb-button button-primary button-medium mr-lg-3 mb-3 mb-lg-0 button-full-width-mobile">Shop modern style </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="border-bottom-danger">
    <div class="ui-icon-flag">
        <div class="zmdi-wallpaper">
            <div class="zmdi-format-quote">
                <img src="~/UploadedFiles/files/14458_Comp_E_Image1jpg.jpg" />
                <div class="mb-4 px-lg-0 px-2">
                    <h2 class="font-header-2 mt-3 mt-lg-4">The gift of options</h2>
                    <p class="body-large">Let them choose exactly what they want with a gift card.</p>
                    <div>
                        <a class="nb-button button-primary button-medium mr-lg-3 mb-3 mb-lg-0 button-full-width-mobile">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="zmdi-format-quote">
                <img src="~/UploadedFiles/files/14437_Comp_E1_Image1.jpg" />
                <div class="mb-4 px-lg-0 px-2">
                    <h2 class="font-header-2 mt-3 mt-lg-4">It’s never too early</h2>
                    <p class="body-large">Shop now for delivery by December 24th</p>
                    <div>
                        <a class="nb-button button-primary button-medium mr-lg-3 mb-3 mb-lg-0 button-full-width-mobile">View shipping deadlines</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="product">
    <div class="container-fluid">
        <h2 class="font-header-2 mb-lg-6 mb-4 pb-lg-0  pl-lg-2"> Recommended for you</h2>
        <div class="slide-wrap">
            <div class="slide-main" id="slide-main">
                <div class="item" style="width: 371px; height: 369px;">
                    <div class="link-banner ratiobox lazyloaded">
                        <img src="/UploadedFiles/files/nike7.jpg" />
                    </div>
                    <div class="Content_Center_Product_Font">
                        <div class="Content_Center_Product_Name">
                            <h6 class="Content_Center_Product_Name_H5"><a href="ProductInterface">NB Numeric Tiago Lemons 4010</a></h6>
                        </div>
                        <div class="Content_Center_Product_Price">
                            <p class="Content_Center_Product_Price_P">
                                <span>5.650.00đ</span>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="item" style="width: 371px; height: 369px;">
                    <div class="link-banner ratiobox lazyloaded">
                        <img src="/UploadedFiles/files/nike8.jpg" />
                    </div>
                    <div class="Content_Center_Product_Font">
                        <div class="Content_Center_Product_Name">
                            <h6 class="Content_Center_Product_Name_H5"><a href="ProductInterface">NB Fresh Foam Cruzv1 Reissue</a></h6>
                        </div>
                        <div class="Content_Center_Product_Price">
                            <p class="Content_Center_Product_Price_P">
                                <span>5.650.00đ</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item" style="width: 371px; height: 369px;">
                    <div class="link-banner ratiobox lazyloaded">
                        <img src="/UploadedFiles/files/nike11.jpg" />
                    </div>
                    <div class="Content_Center_Product_Font">
                        <div class="Content_Center_Product_Name">
                            <h6 class="Content_Center_Product_Name_H5"><a href="ProductInterface">NB Numeric Brandon Westgate 508</a></h6>
                        </div>
                        <div class="Content_Center_Product_Price">
                            <p class="Content_Center_Product_Price_P">
                                <span>5.650.00đ</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item" style="width: 371px; height: 369px;">
                    <div class="link-banner ratiobox lazyloaded">
                        <img src="/UploadedFiles/files/nike13.jpg" />
                    </div>
                    <div class="Content_Center_Product_Font">
                        <div class="Content_Center_Product_Name">
                            <h6 class="Content_Center_Product_Name_H5"><a href="ProductInterface">NB Fresh Foam Arishi v4</a></h6>
                        </div>
                        <div class="Content_Center_Product_Price">
                            <p class="Content_Center_Product_Price_P">
                                <span>5.650.00đ</span>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="item" style="width: 371px; height: 369px;">
                    <div class="link-banner ratiobox lazyloaded">
                        <img src="/UploadedFiles/files/nb8.jpg" />
                    </div>
                    <div class="Content_Center_Product_Font">
                        <div class="Content_Center_Product_Name">
                            <h6 class="Content_Center_Product_Name_H5"><a href="ProductInterface">NB Numeric Tiago Lemos 1010</a></h6>
                        </div>
                        <div class="Content_Center_Product_Price">
                            <p class="Content_Center_Product_Price_P">
                                <span>5.650.00đ</span>
                            </p>
                        </div>
                    </div>

                </div>

            </div>
            <button type="button" class="slide-btn-left">
                <i class="fa-solid fa-chevron-left" aria-hidden="true" onclick="prev()"></i>
            </button>
            <button type="button" class="slide-btn-right">
                <i class="fa-solid fa-chevron-right" aria-hidden="true" onclick="next()"></i>
            </button>
        </div>
    </div>
</section>

<script>
    var sliderMain = document.getElementById("slide-main");
    var item = sliderMain.getElementsByClassName("item");
    function next() {
        sliderMain.append(item[0]);
    }
    function prev() {
        sliderMain.prepend(item[item.length - 1]);
    }
</script>
