
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="/Assets/Website/Css/About.css">
</head>


<div class="frame">
    <h2 class="text-empty-cart">Bạn vừa mua hàng thành công</h2>
    <button class="custom-btn btn-2">
        <a href="Index">
            Tiếp tục mua hàng
        </a>
    </button>
</div>

